### PYTHON CONFIGURATION ###
PYTHONDONTWRITEBYTECODE=1

### AWS TARGET ###
# remote: use your existing AWS CLI configuration
# local: use MiniStack with test credentials
AWS_TARGET=local

### AWS LOCAL / MINISTACK ###
AWS_REGION=sa-east-1
AWS_LOCAL_ENDPOINT=http://localhost:4566

### CLOUDFORMATION ###
STACK_NAME=serverless-ticketing-notifications
TEMPLATE_FILE=template.yaml
API_STAGE=dev
SAM_LOCAL_PORT=3000